body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background :linear-gradient(35deg , black,#FF6A00 ,#EE0979 , #a10fdf ,white);
  width: 100%;
  background-size: 300% 300%;
    
   }
/*  */
header {
  /*background: linear-gradient(to right, #FA4B37, #DF2771);*/
  background-color: transparent;
  color: #333333; 
  padding: 15px 1px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s eas
}
#h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
header .nav{
  padding: 0 0 0 0;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: white ;
width: 100%;
}

.logo {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

nav a {
  text-decoration: none;
  color: #333333; 
  font-weight: 500;
  padding: 10px 20px; 
  margin-right:45px; 
  border-radius: 8px; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shado
}

nav a:hover {
  color: #FA4B37;
  box-shadow: 0 4px 6px rgba(141, 86, 86, 0.1);
}


  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    text-align: center;
    color: #FA4B37;
    margin-bottom: 20px;
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .course-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
  }

  .course-item:hover {
    transform: translateY(-5px);
  }

  .course-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .course-item h3 {
    font-size: 1.5em;
    margin: 15px;
    color: #2c3e50;
  }

  .course-item p {
    margin: 0 15px 15px;
    font-size: 0.95em;
    color: #7f8c8d;
  }

  .get-started {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #FA4B37;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
  }

  .get-started:hover {
    background-color: #FA4B37;
  }